AddDefaultCharset utf8
RewriteEngine On
RewriteRule ^login$	/index.php?page=login	[L]
RewriteRule ^register$	/index.php?page=register	[L]
RewriteRule ^logout$	/index.php?page=logout	[L]
RewriteRule ^profile$	/index.php?page=profile	[L]
RewriteRule ^country/(.*)$	/index.php?page=country&country=$1	[L]
RewriteRule ^add$	/index.php?page=add 	[L]

# Admin links
RewriteRule ^admin$ /index.php?page=admin [L]
